.container10 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container10 {
  text-align: center;
}

.logo10 {
  width: 100%;
  max-width: 120rem;
  height: auto;
}

.content10 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.text-container10 {
  text-align: center;
}

.text-container10 h2 {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #d06f2a;
}

.text-container10 h4 {
  font-family: 'bebas_neueregular', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.text-container10 p {
  margin: 0;
  font-size: 19px;
}

/* Media Query for Responsive Layout */
@media screen and (min-width: 768px) {
  .container10 {
    flex-direction: row;
    align-items: center;
  }

  .content10 {
    padding: 0 20px;
  }
}
